.break {
  background-color: #fffff2;
  padding: 126px 0 100px 0;
  overflow-x: hidden;

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    position: relative;
  }

  &__info {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--accent);
  }

  &__title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__title-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
    height: 60px;
    &::before {
      content: "";
      display: block;
      width: 230px;
      height: 2px;
      background-color: var(--accent);
    }
    &::after {
      content: "";
      display: block;
      width: 230px;
      height: 2px;
      background-color: var(--accent);
    }
  }
}

.break__text-partner {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent);
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
}
.break.partner-break {
  padding: 150px 0 115px 0;
}
.partner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 36px;
}
.partner {
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__block {
    position: relative;
    width: 100%;
    max-width: 384px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    img {
      inset: 0;
      z-index: -2;
    }
    &:hover {
      .partner__block-text {
        font-weight: 600;
        letter-spacing: 0.08em;
        &:before {
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }

  &__block-text {
    position: absolute;
    display: block;
    font-weight: 200;
    font-size: 36px;
    line-height: 112%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 64% 52px 0;
    width: 100%;
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(137, 137, 137, 0)), to(#000));
      background: -o-linear-gradient(top, rgba(137, 137, 137, 0) 0%, #000 100%);
      background: linear-gradient(180deg, rgba(137, 137, 137, 0) 0%, #000 100%);
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      z-index: 2;
    }
    span {
      position: relative;
      z-index: 10;
    }
  }
}

//========================================================================================================================================================
.break.industry {
  padding-bottom: 183px;
}
.break__title.industry-title {
  font-weight: 200;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent);
}
.break__title-top.industry-top {
  height: auto;
  gap: 23px;
}
.break__title-bottom.industry-bottom {
  height: auto;
}
.swiper-wrapper.break-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 70px;
}
.swiper-slide.break-slide {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
}
.break__partners {
  position: relative;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 97px;
}
.swiper.break-slide {
  max-width: 775px;
  margin: 0 auto;
}
.swiper-btn-prev,
.swiper-btn-next {
  cursor: pointer;
  position: relative;
  width: 98px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
  -webkit-box-align: center;
  -moz-align-items: center;
  flex-shrink: 0;
  picture {
    height: 17px;
  }
  &:hover {
    &::before {
      content: "";
      width: 40px;
      height: 40px;
    }
  }
}
.highlights__swiper-inner {
  position: relative;
}

.swiper-btn-prev::before,
.swiper-btn-next::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform: translateX(var(--x, 50%)) translateY(-50%);
  -ms-transform: translateX(var(--x, 50%)) translateY(-50%);
  transform: translateX(var(--x, 50%)) translateY(-50%);
  left: 50%;
  top: 50%;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.swiper-wrapper.break-slide.for-mobile {
  display: none;
}
.swiper-btn-next {
  rotate: 180deg;
}
@media (max-width: 1800px) {
  .partner__block-text {
    font-size: 30px;
  }
}
@media (max-width: 1600px) {
  .partner__block-text {
    font-size: 26px;
  }
}

@media (max-width: 1350px) {
  .partner__block-text {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .break__title.industry-title {
    font-size: 36px;
  }
  .partner__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .break__partners.for-mobile {
    display: none;
  }
  .swiper-wrapper.break-slide.for-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    img {
      width: 243px;
      height: 137px;
    }
  }
}
@media (max-width: 855px) {
  .break__title {
    width: 100%;
    font-size: 42px;
  }
  .break__info {
    top: -100px;
  }
  .break__title-top {
    width: 100%;
    text-wrap: nowrap;
    &::before {
      content: "";
      width: 100%;
    }
    &::after {
      content: "";

      width: 100%;
    }
  }
}
@media (max-width: 483px) {
  .break__title.industry-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .break__title-top {
    width: auto;
  }
  .break__title-top.industry-top {
    text-wrap: wrap;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    &::after {
      content: "";
      display: none;
    }
    &::before {
      content: "";
      display: none;
    }
  }
}
