.collection {
  background-image: url("./../img/collection-bg.png");
  background-size: cover;

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 113px;
    padding: 124px 0 150px 0;
  }

  &__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__top-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    max-width: 700px;
  }

  &__top-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    max-width: 300px;
    width: 100%;
  }

  &__bottom {
    max-width: 870px;
  }

  &__bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 13px;
  }
}

.top-box {
  &__more {
    font-weight: 300;
    font-size: 32px;
    line-height: 0%;
    color: var(--accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    svg {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      height: 19px;
    }
    &:hover {
      svg {
        width: 71px;
      }
    }
  }

  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 128%;
    text-transform: uppercase;
  }
}
.bottom-box {
  &__number {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 64px;
    text-transform: uppercase;
    color: var(--accent);
    width: 100px;
    height: 58px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  &__link {
    padding: 34px 30px;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #00000080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
    border: 2px solid var(--accent);
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #c7aa8080;
      .bottom-box__number {
        color: #fff;
      }
    }
  }

  &__text {
    font-weight: 300;
    font-size: 40px;
  }
}
@media (max-width: 1000px) {
  .collection__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    gap: 20px;
  }
  .collection__top-box {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}
@media (max-width: 750px) {
  .bottom-box__link {
    padding: 10px;
    width: 100%;
  }
  .collection__top-title {
    font-size: 40px;
  }
  .bottom-box__text {
    font-size: 20px;
  }
  .bottom-box__number {
    font-size: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: auto;
  }
}
@media (max-width: 500px) {
  .collection__top-title {
    font-size: 32px;
  }
  .collection__top-box {
    gap: 20px;
  }
  .collection__top {
    gap: 50px;
  }
}
@media (max-width: 450px) {
  .bottom-box__link {
    gap: 10px;
  }
}
