.experience {
  padding: 184px 0 119px 0;
  background-color: var(--accent);
  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 64px;
    text-transform: uppercase;
    color: #000;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: right;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    &::before {
      content: "";
      display: block;
      width: 230px;
      height: 2px;
      background-color: #000;
    }
  }
}

.expirience {
  &__blocks-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__blocks-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    overflow: hidden;
    &:hover {
      scale: 1.05;
      -webkit-box-shadow: 0 15px 27px 0 rgba(0, 0, 0, 0.28);
      box-shadow: 0 15px 27px 0 rgba(0, 0, 0, 0.28);
      z-index: 1;
    }
  }

  &__blocks-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 64%;
    height: 135px;
    img {
      width: 29px;
      height: 31px;
    }
  }

  &__blocks-text {
    font-weight: 200;
    font-size: 36px;
    line-height: 112%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 0 82px;
  }
}
@media (max-width: 1440px) {
  .expirience__blocks-text {
    font-size: 28px;
  }
}
@media (max-width: 1000px) {
  .expirience__blocks-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }
  .expirience__blocks-text {
    font-size: 16px;
  }
  .expirience__blocks-inner {
    gap: 10px;
  }
}
@media (max-width: 967px) {
  .experience__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 50px;
  }
  .experience__title {
    font-size: 52px;
  }
  .experience__subtitle {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    width: 100%;
    text-wrap: nowrap;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    &::before {
      content: "";
      width: 100%;
      max-width: 230px;
    }
  }
}
@media (max-width: 650px) {
  .expirience__blocks-content {
    flex-wrap: wrap;
  }
  .expirience__blocks-block {
    flex: 1 1 calc(33.333%);
    max-width: calc(33.333%);
  }
  .expirience__blocks-inner {
    top: 57%;
  }
}
