.footer {
  background: #12241f;
  padding: 32px 0 40px 0;
  // .footer__inner

  &__inner {
    border-bottom: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    padding: 32px 0;
  }

  // .footer__row

  &__row {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  // .footer__logo

  // &__logo {
  // }

  // .footer__nav

  &__nav {
    display: flex;
    gap: 108px;
    width: 100%;
  }

  // .footer__nav-list
  &__nav-list-accent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: end;
    display: flex;
    width: 100%;
  }
  &__nav-link {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
  }

  // .footer__nav-item

  // &__nav-item {
  // }

  // .footer__nav-list-accent

  &__nav-link-accent {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #c7ab80;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
  }

  // .footer__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
    gap: 30px;
  }

  // .footer__gmail

  &__gmail {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #c7ab80;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
  }

  // .footer__site

  &__site {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #c7ab80;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
  }

  // .footer__links

  &__links {
    display: flex;
    align-items: center;
    gap: 25px;
    a {
      width: 40px;
      height: 40px;
      transition: all 0.3s ease 0s;
      &:hover {
        scale: 1.2;
      }
    }
  }
}
@media (max-width: 1055px) {
  .footer__row {
    flex-direction: column;
    gap: 30px;
  }
  .footer__nav {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__nav-list-accent {
    width: fit-content;
  }
}
@media (max-width: 760px) {
  .footer__nav-list-accent {
    align-items: flex-start;
  }
  .footer__nav {
    gap: 30px;
  }
  .footer__bottom {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .footer__nav {
    justify-content: space-around;
    align-items: start;
  }
}
@media (max-width: 340px) {
  .footer__nav-list-accent,
  .footer__nav-list {
    width: 100%;
  }
}
