.footer {
  padding: 80px 0 53px 0;
  background-color: #000;
  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }

  &__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 22px;
    flex-shrink: 0;
    -ms-flex-negative: 0;
  }

  &__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 63px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 31px;
  }
  &__menu-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px;
  }

  &__menu-item {
    img {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      &:hover {
        scale: 1.2;
        -webkit-filter: invert(38%) sepia(26%) saturate(452%) hue-rotate(14deg) brightness(95%) contrast(88%);
        filter: invert(38%) sepia(26%) saturate(452%) hue-rotate(14deg) brightness(95%) contrast(88%);
      }
    }
  }

  &__menu-link {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover {
      color: var(--accent);
    }
  }

  &__location {
    a {
      color: #fff;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      &:hover {
        color: var(--accent);
      }
    }
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 45px;
    border-bottom: 1px solid var(--accent);
  }

  &__privacy {
    margin-top: 53px;
  }

  &__privacy-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    flex-wrap: wrap;
    gap: 67px;
  }

  &__privacy-link {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover {
      color: var(--accent);
    }
  }
}
.footer__menu-item.for-social {
  margin-top: auto;
}
@media (max-width: 860px) {
  .footer__logos {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__top {
    flex-direction: column;
  }
}
