.header {
  background-color: #0a2e26;
  &__wrapper {
    background-image: url("./../img/header-bg.png");
    background-position: center;
    background-size: cover;
    height: 1080px;
  }
  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
  }

  &__menu {
    padding-left: 47px;
    padding-right: 66px;
  }

  &__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
    max-width: 494px;
  }

  &__menu-link {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    &:hover {
      font-weight: 600;
    }
  }

  &__line {
    height: 110px;
    width: 1px;
    background-color: var(--accent);
    margin-right: 65px;
  }

  &__utils {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 32px;
  }

  &__utils-language {
    position: relative;
    display: inline-block;
  }

  &__utils-valut {
    position: relative;
    display: inline-block;
  }

  &__btn {
    border: 2px solid #c7ab80;
    padding: 13px 25px;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    picture {
      width: 10px;
      height: 10px;
    }
    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 25px;
      color: #fff;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    img {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      background: #c7ab80;
      color: #000;
      a {
        color: #000;
      }
      img {
        -webkit-filter: brightness(0) invert(0);
        filter: brightness(0) invert(0);
      }
    }
  }
}

.language {
  &__item {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__choise-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px;
    border: 1px solid #c7ab80;
    background-color: #0a2e26;
    z-index: 10;
  }
}

.valut {
  &__item {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__choise-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 5px;
    border: 1px solid #c7ab80;
    background-color: #0a2e26;
  }
}

.valut__item.active,
.language__item.active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 8.49px;
    height: 4.45px;
    background-image: url("./../img/arrow-language.svg");
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    &::after {
      content: "";
      rotate: 180deg;
    }
  }
}
.header__utils-language:hover .language__choise-box,
.header__utils-valut:hover .valut__choise-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}
.header {
  &__content {
    margin-top: 149px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 83px;
    margin-top: auto;
  }

  &__content-crown {
    img {
      width: 61px;
      height: 67px;
    }
  }

  &__content-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 96px;
    line-height: 118%;
    text-transform: uppercase;
    text-align: center;
    max-width: 1000px;
  }

  &__content-text {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    color: var(--accent);
  }

  &__pick-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 70px;
    background-color: #00000080;
    padding: 72px 0;
    margin-top: 92px;
  }
}

.pick {
  &__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    cursor: pointer;
  }

  &__item-choise-box {
    display: none;
  }

  &__search-btn {
    background-color: #c7ab80;
    padding: 13px 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 27px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    &:hover {
      background-color: #fff;
    }
  }
}
.pick__item.active {
  border: 1px solid #c7ab80;
  padding: 13px 20px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 155px;
  img {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  picture {
    width: 9px;
    height: 5px;
  }
  &:hover {
    img {
      rotate: 180deg;
    }
  }
}
@media (max-width: 1190px) {
  .header {
    height: auto;
  }
  .header__row {
    justify-content: space-between;
  }
  .header__line,
  .header__menu {
    display: none;
  }
  .header__utils {
    order: 2;
  }
  .header__btn {
    display: block;
  }
  .header__pick-box {
    padding: 72px 10px;
  }
  .header__wrapper {
    height: auto;
  }
  .header__content-title {
    font-size: 74px;
  }
  .header__pick-box {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .header__content-title {
    font-size: 42px;
  }
  .header__utils {
    display: none;
  }
}
