.inspiration {
  background-image: url("./../img/inspiration-bg.png");
  background-size: cover;
  padding: 150px 0;
  position: relative;
  &::before {
    content: "";
    background-image: url("./../img/insiration-gold-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 340px;
    height: 508px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    top: 0;
  }
  &::after {
    content: "";
    background-image: url("./../img/insiration-gold-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 375px;
    height: 469px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    left: 0;
    bottom: 0;
  }

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    max-width: 470px;
  }

  &__left-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    max-width: 400px;
  }

  &__left-text {
    font-weight: 200;
    font-size: 20px;
    line-height: 133%;
    max-width: 400px;
  }

  &__left-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 57px;
    margin-top: 24px;
    img {
      min-width: 470px;
      height: 431px;
    }
  }

  &__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 58px;
  }

  &__right-images {
    display: flex;
    gap: 30px;
    img {
      width: 370px;
      height: 629px;
    }
  }
}
.inspiration__right {
  width: 100%;
}
.inspiration__right-images-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    &:nth-child(1) {
      width: 270px;
      height: 312px;
    }
  }
  img {
    &:nth-child(2) {
      width: 270px;
      height: 279px;
    }
  }
}
.lifestyle__title.inspiration-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.top-box__more.inspiration-more {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 430px;
  z-index: 2;
  gap: 20px;
  height: 26px;
  svg {
    transition: all 0.3s ease 0s;
  }
  &:hover {
    svg {
      width: 71px;
    }
  }
}
@media (max-width: 1540px) {
  .inspiration {
    &::before {
      content: "";
      display: none;
    }
    &::after {
      content: "";
      display: none;
    }
  }
}
@media (max-width: 1440px) {
  .inspiration__right-images {
    justify-content: flex-end;
    img {
      width: 270px;
      height: 429px;
    }
  }
  .inspiration__right {
    max-width: fit-content;
  }
  .inspiration__content {
    justify-content: center;
    gap: 30px;
  }
  .lifestyle__title.inspiration-title {
    text-wrap: nowrap;
    font-size: 18px;
  }
  .inspiration__left-box {
    img {
      min-width: 424px;
      height: 231px;
    }
  }

  .inspiration__right-images-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      &:nth-child(1) {
        width: 170px;
        height: 212px;
      }
    }
    img {
      &:nth-child(2) {
        width: 170px;
        height: 179px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .inspiration__right-images {
    display: none;
  }
  .inspiration__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .inspiration__left-box {
    img {
      min-width: 100%;
      height: auto;
    }
  }
  .inspiration__right {
    width: 100%;
  }
  .lifestyle__title.inspiration-title {
    width: 100%;
    font-size: 16px;
    text-wrap: nowrap;
  }
  .top-box__more.inspiration-more {
    font-size: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    svg {
      -ms-flex-item-align: end;
      align-self: flex-end;
    }
  }
  .inspiration__left-title {
    font-size: 48px;
  }
}
