.inspiration {
  background-image: url("./../img/inspiration-bg.png");
  background-size: cover;
  padding: 150px 0;
  position: relative;
  &::before {
    content: "";
    background-image: url("./../img/insiration-gold-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 340px;
    height: 508px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    top: 0;
  }
  &::after {
    content: "";
    background-image: url("./../img/insiration-gold-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 375px;
    height: 469px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    left: 0;
    bottom: 0;
  }

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    max-width: 470px;
  }

  &__left-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    max-width: 400px;
  }

  &__left-text {
    font-weight: 200;
    font-size: 20px;
    line-height: 133%;
    max-width: 400px;
  }

  &__left-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 57px;
    margin-top: 24px;
    img {
      min-width: 470px;
      height: 431px;
    }
  }

  &__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 58px;
  }

  &__right-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      &:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 4 / 2;
        min-width: 370px;
        height: 704px;
      }
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1 / 2 / 2 / 3;
        min-width: 270px;
        height: 190px;
      }
      &:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 2 / 2 / 3 / 3;
        width: 270px;
        height: 264px;
      }
      &:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 3 / 2 / 4 / 3;
        width: 270px;
        height: 190px;
      }
    }
  }
}

.lifestyle__title.inspiration-title {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}
.top-box__more.inspiration-more {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 430px;
  z-index: 2;
}
@media (max-width: 1540px) {
  .inspiration {
    &::before {
      content: "";
      display: none;
    }
    &::after {
      content: "";
      display: none;
    }
  }
}
@media (max-width: 1200px) {
  .inspiration__right-images {
    display: none;
  }
  .inspiration__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .inspiration__left-box {
    img {
      min-width: 100%;
      height: auto;
    }
  }
  .inspiration__right {
    width: 100%;
  }
  .lifestyle__title.inspiration-title {
    width: 100%;
    font-size: 16px;
    text-wrap: nowrap;
  }
  .top-box__more.inspiration-more {
    font-size: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    svg {
      -ms-flex-item-align: end;
      align-self: flex-end;
    }
  }
  .inspiration__left-title {
    font-size: 48px;
  }
}
