.header__wrapper.list-with-us__wrapper {
  background-image: url("./../img/list-with-us-bg.png");
}
.header__content-text.page-list {
  max-width: 730px;
  margin: 0 auto;
}

.page-list {
  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 38px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    color: var(--accent);
  }
}
.list {
  &__separator {
    height: 110px;
    background-color: var(--accent);
    width: 1px;
  }
}
.header__pick-box.list-page {
  padding: 40px 0;
}
.page-list {
  &__form {
  }
}

.plist {
  &__form-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 30px;
    color: #000;
    padding: 150px 0;
  }

  &__form-info {
    max-width: 470px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 68px;
  }

  &__info-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 230px;
      background-color: var(--accent);
      margin-top: 53px;
    }
  }

  &__info-text {
    font-weight: 200;
    font-size: 20px;
    line-height: 145%;
  }

  &__form-form {
    padding: 47px 70px 70px 70px;
    border: 1px solid var(--accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 28px;
    max-width: 669px;
    width: 100%;
  }

  &__form-title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent);
  }

  &__form-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    input {
      font-weight: 600;
      font-size: 16px;
      color: #000;
      padding-bottom: 12px;
      border-bottom: 1px solid var(--accent);
      width: 100%;
      cursor: pointer;
      &::-webkit-input-placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
      &::-ms-input-placeholder {
        color: #000;
      }
      &::placeholder {
        color: #000;
      }
    }
  }

  &__form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }

  &__select-box {
    width: 100%;
    position: relative;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      background-image: url("./../img/arrow-language.svg");
      width: 9px;
      height: 5px;
      right: 15px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-height: 100px;
    z-index: 1000;
    top: 0;
    -webkit-transform: translateY(35%);
    -ms-transform: translateY(35%);
    transform: translateY(35%);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    ::-webkit-scrollbar {
      width: 1px;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background-color: var(--accent);
      border-radius: 10px;
      border: 2px solid transparent;
    }
  }

  &__dropdown-option {
    padding: 5px;
    border: 1px solid var(--accent);
    color: var(--accent);
    font-weight: 600;
  }

  &__form-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__submit-btn {
    padding: 41px 47px;
    border: 1px solid var(--accent);
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    &:hover {
      background-color: #c7aa8080;
      border: 1px solid #c7a98000;
    }
  }
}

.conversation__agreement-box.plist__agreement {
  max-width: 290px;
  label {
    font-weight: 300;
    font-size: 16px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }
  input[type="checkbox"] + label span {
    border: 1px solid #000;
    margin-right: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.plist__select-box.active::after {
  rotate: 180deg;
}

.page-list {
  &__cards {
    background-color: var(--accent);
  }
}

.plist {
  &__cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 105px 0;
  }

  &__cards-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 270px;
    height: 270px;
    width: 100%;
    &:nth-child(1) {
      background-image: url("./../img/plist-card1.png");
      background-size: cover;
    }
    &:nth-child(2) {
      background-image: url("./../img/plist-card2.png");
      background-size: cover;
    }
    &:nth-child(3) {
      background-image: url("./../img/plist-card3.png");
      background-size: cover;
    }
    &:nth-child(4) {
      background-image: url("./../img/plist-card4.png");
      background-size: cover;
    }
    &:nth-child(5) {
      background-image: url("./../img/plist-card5.png");
      background-size: cover;
    }
    &:nth-child(6) {
      background-image: url("./../img/plist-card6.png");
      background-size: cover;
    }
    &:nth-child(7) {
      background-image: url("./../img/plist-card7.png");
      background-size: cover;
    }
    &:nth-child(8) {
      background-image: url("./../img/plist-card8.png");
      background-size: cover;
    }
    &:nth-child(9) {
      background-image: url("./../img/plist-card9.png");
      background-size: cover;
    }
    &:nth-child(10) {
      background-image: url("./../img/plist-card10.png");
      background-size: cover;
    }
    &:nth-child(11) {
      background-image: url("./../img/plist-card11.png");
      background-size: cover;
    }
    &:hover {
      .plist__card-text {
        font-weight: 500;
      }
    }
  }
  &__card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75px;
  }

  &__card-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 123%;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #fff;
    max-width: 225px;
    width: 100%;
  }

  &__card-line {
    height: 2px;
    width: 130px;
    background-color: var(--accent);
  }
}
.page {
  &__list-cards2 {
    background-image: url("./../img/inspiration-bg.png");
    background-size: cover;
  }
}

.plist {
  &__cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 105px 0;
    gap: 30px;
  }

  &__cards2-card {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 27px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 270px;
    height: 270px;
    width: 100%;
    padding: 59px 25px 0 25px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid var(--accent);
    z-index: 2;
    img {
      width: 29px;
      height: 31px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      z-index: 2;
    }
    &:hover {
      .plist__cards2-text {
        color: #000;
      }
      img {
        -webkit-filter: brightness(0);
        filter: brightness(0);
      }
      &::before {
        content: "";
        width: 200%;
        height: 200%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: var(--y);
      left: var(--x);
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: var(--accent);
      -webkit-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s;
      z-index: 0;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &__cards2-text {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 159%;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }
}

.page {
  &__list-partner {
    background-color: var(--accent);
  }
}

.plist {
  &__partner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
    padding: 150px 0;
  }

  &__partner-block {
    padding: 21px;
    background-color: #fff;
    max-width: 570px;
    width: 100%;
  }

  &__partner-inner {
    border: 1px solid var(--accent);
    padding: 30px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  &__partner-number {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 82px;
    text-transform: uppercase;
    color: #000;
  }

  &__partner-text {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 34px;
    text-transform: uppercase;
    color: #000;
    max-width: 221px;
    width: 100%;
  }

  &__partner-number-active {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 82px;
    text-transform: uppercase;
    color: var(--accent);
  }

  &__partner-text-active {
    font-weight: 200;
    font-size: 34px;
    text-transform: uppercase;
    color: var(--accent);
    max-width: 221px;
    width: 100%;
  }

  &__partner-btn {
    padding: 27px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    line-height: 0%;
    text-transform: uppercase;
    gap: 34px;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    svg path {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      background-color: #fff;
      color: var(--accent);
      svg path {
        stroke: var(--accent);
      }
    }
  }
}
.plist__partner-block-btn {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.page {
  &__list-blockquote {
    background-image: url("./../img/plist-bloquote-bg.png");
    background-size: cover;
  }
}

.plist {
  &__blockquote-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 102px;
    padding: 100px 0 166px 0;
  }
  &__blockquote-box {
    max-width: 970px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
    p {
      font-weight: 200;
      font-size: 32px;
      text-align: justify;
    }
  }
}
.break__title.plist__break-title {
  color: #fff;
}
.plist__blockquote-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  gap: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 300;
  font-size: 32px;
  line-height: 0%;
  color: var(--accent);
  svg {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 19px;
  }
  &:hover {
    svg {
      width: 81px;
      height: 19px;
    }
  }
}

.plist-way {
  background-color: #fffff2;
  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0 150px 0;
  }

  &__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 61px;
  }

  &__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 60px;
  }

  &__number-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 54px;
    max-width: 370px;
    width: 100%;
  }

  &__number {
    font-weight: 200;
    font-size: 86px;
    text-transform: uppercase;
    color: var(--accent);
    font-family: var(--font-accent);
    height: 88px;
  }

  &__text {
    font-weight: 200;
    font-size: 38px;
    max-width: 200px;
    width: 100%;
    color: var(--accent);
  }

  &__box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  &__box-text-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 86px;
    text-transform: uppercase;
    color: var(--accent);
    margin-bottom: 25px;
  }

  &__box-text-text {
    font-weight: 200;
    font-size: 20px;
    text-align: justify;
    color: #000;
  }

  &__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
    padding: 17px 35px;
    border: 2px solid var(--accent);
    font-weight: 300;
    font-size: 32px;
    line-height: 0%;
    text-transform: uppercase;
    color: var(--accent);
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-top: 100px;
    svg path {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      color: #fff;
      background-color: var(--accent);
      svg path {
        stroke: #fff;
      }
    }
  }
}
.plist-way__box-text-title.silver,
.plist-way__number.silver,
.plist-way__text.silver {
  color: #abadb0;
}
.page {
  &__list-steps {
    background-image: url("./../img/plist-steps-bg.png");
    background-size: cover;
  }
}

.plist {
  &__steps-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 100px 0 150px 0;
  }

  &__steps-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
  }

  &__steps-btns {
    max-width: 771px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }

  &__steps-btn {
    padding: 13px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    border: 1px solid var(--accent);
    font-weight: 300;
    font-size: 16px;
  }
}

.page {
  &__list-market {
  }
}

.plist {
  &__marker-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__marker-text {
    max-width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px;
    padding: 150px 10px;
  }

  &__marker-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20px;
    &::after {
      content: "";
      display: block;
      width: 230px;
      height: 2px;
      background-color: var(--accent);
    }
  }

  &__marker-subtext {
    max-width: 400px;
    font-weight: 200;
    font-size: 20px;
    line-height: 145%;
    text-align: justify;
    color: #000;
  }

  &__marker-graf {
    background-image: url("./../img/plist-graf-bg.png");
    background-size: cover;
    background-color: #232323;
    padding: 150px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    img {
      margin-top: 252px;
      padding: 0 60px 0 30px;
    }
  }

  &__graf-title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--accent);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    padding-left: 100px;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--accent);
    }
  }

  &__graf-percent {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 34px;
    margin-top: 66px;
    padding-left: 194px;
  }

  &__graf-text {
    font-family: var(--font-accent);
    padding-left: 194px;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
.buy.plist__buy {
  background-image: none;
  background-color: var(--accent);
  max-width: 1920px;
  margin: 0 auto;
}
.buy__top-left.plist__buy-left {
  color: #000;
}
.buy__text.plist__buy-text {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.06em;
  max-width: 868px;
  width: 100%;
  color: #000;
  text-transform: none;
}
.buy__owner-img.plist__owner-img {
  width: 279px;
  height: 546px;
  bottom: 0;
  left: 145px;
  z-index: 100;
}
.plist__right-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: right;
  max-width: 300px;
  width: 100%;
}
.buy__top-right.plist__top-right {
  padding-right: 0;
  margin-top: 0;
}
.plist {
  &__buy-bottom {
    max-width: 300px;
    padding-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  &__bottom-owner {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.06em;
  }

  &__bottom-text {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #000;
  }
}
.page {
  &__list-developers {
    background-image: url("./../img/plist-developers-bg.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.plist {
  &__developers-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    padding: 150px 0;
  }

  &__developers-title {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 60px;
    text-transform: uppercase;
    max-width: 466px;
    width: 100%;
  }

  &__developers-way {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--accent);
  }

  &__developers-text {
    font-weight: 300;
    font-size: 32px;
    line-height: 144%;
    text-align: justify;
    max-width: 970px;
    margin-top: 29px;
  }

  &__developers-btn {
    margin: 0 0;
    margin-top: 128px;
  }
}

.highlights.plist__highlights {
  background-image: none;
  background-color: #fffff2;
}
.highlights__swiper.plist__highlights-swiper .swiper-slide-shadow-left,
.highlights__swiper.plist__highlights-swiper .swiper-slide-shadow-right {
  display: none;
}
.break__title-top.plist__highlights-title {
  color: #000;
}

.page {
  &__list-about {
    background-color: #0a2e26;
  }
}

.plist {
  &__about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0 145px 0;
  }

  &__about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
  }

  &__about-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
  }

  &__about-imgBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    img {
      padding: 15px;
      border: 1px solid var(--accent);
      border-radius: 50%;
      width: 238.85px;
      height: 238.85px;
    }
  }

  &__about-bottom {
    border-top: 1px solid var(--accent);
    padding-bottom: 50px;
  }

  &__about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
  }

  &__about-link {
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover {
      font-weight: 600;
    }
  }
}

.plsit {
  &__about-name {
    font-family: var(--font-accent);
    font-weight: 200;
    font-size: 48px;
    line-height: 71%;
    text-align: center;
    margin-top: 13px;
  }

  &__about-role {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent);
  }

  &__about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 500px;
  }

  &__about-ingo-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    text-align: justify;
  }
}
.break__title.plist__about-title {
  color: #fff;
}
.plist-way__btn.plist__about-btn {
  gap: 32px;
  text-wrap: nowrap;
  max-width: 100%;
  svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.plist__about-separator {
  display: block;
  width: 1px;
  height: 110px;
  background-color: var(--accent);
}
@media (max-width: 1800px) {
  .buy__owner-img.plist__owner-img {
    left: 0;
  }
}
@media (max-width: 1600px) {
  .buy__owner-img.plist__owner-img {
    left: 0;
    width: 239px;
    height: 496px;
  }
  .plist-way__btn.plist__developers-btn {
    margin-top: 50px;
  }
}
@media (max-width: 1440px) {
  .highlights__swiper.plist__highlights-swiper {
    max-width: 725px;
  }
  .header__content-text.page-list {
    max-width: 430px;
  }
  .plist__buy-bottom {
    padding-left: 100px;
    max-width: 350px;
  }
}
@media (max-width: 1350px) {
  .highlights__swiper.plist__highlights-swiper {
    max-width: 563px !important;
  }
  .plist__buy-bottom {
    padding-left: 200px;
    max-width: 450px;
  }
}
.highlights__swiper.plist__highlights-swiper {
  max-width: 829px;
}
@media (max-width: 1250px) {
  .plist__buy-bottom {
    padding-left: 70px;
  }
  .buy__owner-img.plist__owner-img {
    display: none;
  }
}
@media (max-width: 1240px) {
  .plist__form-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .plist__form-info {
    max-width: 800px;
  }
}
@media (max-width: 1190px) {
  .page-list__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .list__separator {
    display: none;
  }
  .page-list__item {
    border: 1px solid var(--accent);
    padding: 10px 12px;
  }
  .header__wrapper.list-with-us__wrapper {
    background-size: cover;
  }
  .plist__partner-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 1130px) {
  .plist__about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .break__title.plist__break-title {
    font-size: 40px;
  }
  .plist__about-separator {
    display: none;
  }
  .plist__about-item {
    padding: 10px;
    border: 1px solid var(--accent);
    max-width: 275px;
    width: 100%;
  }
  .plist__about-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .buy__top.plist__buy-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
  }
  .plist__right-text {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .plist__marker-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .plist__marker-text {
    padding-bottom: 10px;
  }
  .plist-way__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 570px;
    margin: 0 auto;
  }
}
@media (max-width: 610px) {
  .plist__info-title {
    font-size: 30px;
    &::after {
      content: "";
      margin-top: 23px;
    }
  }
  .plist-way__number-box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0;
  }
  .plist-way__box-text-title {
    font-size: 66px;
  }
  .plist__partner-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .break__title-top {
    gap: 10px;
  }
  .break__title.plist__break-title {
    font-size: 28px;
  }
  .plist__form-info {
    gap: 38px;
  }
  .plist__form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .plist__form-submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  .plist__submit-btn {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .plist__form-title {
    font-size: 18px;
  }
  .plist__form-form {
    padding: 20px 40px 40px 40px;
  }

  .plist__about-imgBox img {
    width: 138.85px;
    height: 138.85px;
  }
  .plsit__about-role {
    font-size: 16px;
  }
  .plsit__about-name {
    font-size: 28px;
  }
  .plist__partner-btn,
  .plist-way__btn.plist__about-btn {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 0;
    padding: 17px 15px;
    font-size: 18px;
  }
  .plist__partner-btn {
    gap: 10px;
  }
  .plist__cards-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .plist__cards2-card {
    padding: 59px 5px 0 5px;
  }
  .plist__graf-text,
  .plist__graf-percent {
    padding-left: 20px;
  }
  .plist__graf-text {
    font-size: 32px;
  }
  .plist__marker-title {
    font-size: 40px;
  }
  .page-list__cards > .container {
    padding-left: 0;
  }
  .plist__card-text {
    padding: 0 10px 0 20px;
    font-size: 16px;
  }
  .plist__cards2-text {
    font-weight: 200;
  }
}
@media (max-width: 440px) {
  .page-list__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page-list__list {
    padding: 0 25px;
  }
  .break__title.industry-title {
    font-size: 24px;
  }
}
